<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Delete Group</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-TI/t5CG9TWE6Si8CpM5d7jZ6rPMpJ2wBY8FcaFe1qT8WdrWyOs5z3QGlhOQQH2eGV"
          crossorigin="anonymous">
</head>
<body>
<div>
    <div th:replace="/groupnavbar :: groupnavbar"></div>
</div>
<div class="container mt-5">
    <div th:if="${info}" class="alert alert-info" role="alert" th:text="${info}"></div>
    <div th:if="${error}" class="alert alert-danger" role="alert" th:text="${error}"></div>
    <form id="deleteGroupForm" th:action="@{/suggestion/deleteGroup}" method="post">
        <div class="form-group">
            <label for="groupName">Group Name:</label>
            <input type="text" class="form-control form-control-sm" id="groupName" name="groupName"
                   pattern="[a-zA-Z0-9_]*"
                   title="Only alphanumeric characters and underscore are allowed"
                   minlength="5" maxlength="14"
                   placeholder="reconfirm the group name to delete permanently"
                   required>
        </div>
        <button type="submit" class="btn btn-primary">Delete Group</button>
    </form>
</div>

<script th:inline="javascript">
    document.getElementById('deleteGroupForm').addEventListener('submit', function(event) {
        event.preventDefault();
        var inputGroupName = document.getElementById('groupName').value;
        var modelGroupName = [[ ${groupName} ]]
        if (inputGroupName === modelGroupName) {
            this.submit();
        } else {
            window.alert('Group Name does not match. Please reconfirm.');
        }
    });

</script>
</body>
</html>