<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Edit BUY Suggestion</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-TI/t5CG9TWE6Si8CpM5d7jZ6rPMpJ2wBY8FcaFe1qT8WdrWyOs5z3QGlhOQQH2eGV"
          crossorigin="anonymous">
</head>
<body>
<div class="container-fluid">
<div>
    <div th:replace="/groupnavbar :: groupnavbar"></div>
</div>
<div class="container mt-5">
    <div th:if="${info}" class="alert alert-info" role="alert" th:text="${info}"></div>
    <div th:if="${error}" class="alert alert-danger" role="alert" th:text="${error}"></div>
    <form th:action="@{/suggestion/editSellSuggestion}" method="post" th:object="${sellSuggestion}">
        <input type="hidden" name="id" th:value="${id}"/>
        <div class="form-group form-control-md">
            <label for="stockName">stock Name:</label>
            <input type="text" class="form-control form-control-sm" id="stockName" name="stockName"
                   th:value="${sellSuggestion.stockName}"
                   pattern="[a-zA-Z]+"
                   title="Only alphabetical characters are allowed for the stock name"
                   oninput="convertToUppercase(this)"
                   placeholder="please enter the name of the stock"
                   required/>
        </div>
        <div class="form-group form-control-md">
            <label for="sellPriority">Sell Priority:</label>
            <select class="form-control" id="sellPriority" name="sellPriority" required>
                <option th:each="priority : ${priorities}"
                        th:value="${priority}"
                        th:text="${priority}"
                        th:selected="${priority eq sellSuggestion.sellPriority}">
                </option>
            </select>
        </div>
        <div class="form-group form-control-md">
            <label for="warnSellLevel">Warn Sell Level:</label>
            <input type="text" class="form-control" id="warnSellLevel" name="warnSellLevel"
                   th:value="${sellSuggestion.warnSellLevel}"
                   pattern="[0-9]+"
                   title="Only numeric digits allowed"
                   placeholder="please enter the warning level to sell off"
                   required/>
        </div>
        <div class="form-group form-control-md">
            <label for="dangerSellLevel">Danger Sell Level</label>
            <input type="text" class="form-control" id="dangerSellLevel" name="dangerSellLevel"
                   th:value="${sellSuggestion.dangerSellLevel}"
                   pattern="[0-9]+"
                   title="Only numeric digits allowed"
                   placeholder="please enter the danger level to sell off"
                   required/>
        </div>
        <div class="form-group form-control-md">
            <label for="pso">PSO</label>
            <input type="text" class="form-control" id="pso" name="pso" th:value="${sellSuggestion.pso}"
                   pattern="[0-9]+"
                   title="Only numeric digits allowed"
                   placeholder="How much Percentage of Shares Owned to Sell Off"
                   required/>
        </div>
        <button type="submit" class="btn btn-primary">update</button>
    </form>
</div>
</div>
<!-- Bootstrap JS and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-Je4mDv3F6O0MKqr+q6t5ldy/DZwz27b1efwx5K/kD5XJc/2aKpr5K9CK6Z5vT5M5"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
        crossorigin="anonymous"></script>
<script>
    function convertToUppercase(input) {
    input.value = input.value.toUpperCase();
}
</script>
</body>
</html>