<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Join Group</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-TI/t5CG9TWE6Si8CpM5d7jZ6rPMpJ2wBY8FcaFe1qT8WdrWyOs5z3QGlhOQQH2eGV"
          crossorigin="anonymous">
</head>
<body>
<div>
    <div th:replace="/mainnavbar :: mainnavbar"></div>
</div>
<div class="container mt-5">
    <div th:if="${info}" class="alert alert-info" role="alert" th:text="${info}"></div>
    <div th:if="${error}" class="alert alert-danger" role="alert" th:text="${error}"></div>
    <table class="table table-bordered table-hover">
        <thead class="thead-light">
        <tr>
            <th>Group Name</th>
            <th>Description</th>
            <th>Group Type</th>
            <th>Subscription</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="group : ${groups}">
            <td th:text="${group.groupName}"></td>
            <td th:utext="${group.description}"></td>
            <td th:text="${group.groupType}"></td>
            <td th:text="${group.subscription}"></td>
            <td>
                <a class="btn btn-success btn-sm"
                   th:href="@{'/groups/joinGroup/'+ ${group.id} + '/' + ${group.groupName}}"
                   role="button">Join</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>