<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Index Page</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-TI/t5CG9TWE6Si8CpM5d7jZ6rPMpJ2wBY8FcaFe1qT8WdrWyOs5z3QGlhOQQH2eGV"
          crossorigin="anonymous">
    <link th:href="@{/css/newindex.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container-fluid">
    <div>
        <div th:replace="/mainnavbar :: mainnavbar"></div>
    </div>
    <div class="container mt-4">
        <div th:if="${info}" class="alert alert-info" role="alert" th:text="${info}"></div>
        <div th:if="${error}" class="alert alert-danger" role="alert" th:text="${error}"></div>
        <div class="row">
            <div class="col-md-8">
                <h2>List of Groups</h2>

                <!-- Display groups or empty message based on the condition -->
                <th:block th:if="${not #lists.isEmpty(groups)}">
                    <ul class="list-group">
                        <li class="list-group-item" th:each="group : ${groups}">
                            <a th:href="@{'/suggestion/groupIndex/' + ${group.id} + '/' + ${group.groupName}}"
                               class="list-group-item-action">
                                <div class="row">
                                    <div class="col-md-4">
                                        <span class="font-weight-bold text-lg"
                                              th:text="${group.groupName + ' - ' + group.groupType}"></span>
                                    </div>
                                    <div class="col-md-4" th:text="${group.description}"></div>
                                    <div class="col-md-4" th:text="${group.subscription}"></div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </th:block>

                <th:block th:unless="${not #lists.isEmpty(groups)}">
                    <p>No groups available.</p>
                </th:block>
            </div>
        </div>
    </div>

</div>
</body>
</html>
